html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
}

.counter {
    display: flex;
}

.counter > * {
    font-size: 100px;
}

.minus,
.plus,
.count {
    user-select: none;
}

.minus,
.plus {
    cursor: pointer;
    color: lightblue;
}

.count {
    margin: 0 30px;
}
.count-number {
    cursor: pointer;
}

.minus:hover,
.plus:hover,
.count:hover {
    opacity: 0.5;
}
